services:
  - type: web
    name: payroll-api
    runtime: node
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: ACCESS_SECRET
        generateValue: true
      - key: REFRESH_SECRET
        generateValue: true
      - key: EMAIL_HOST
        sync: false
      - key: EMAIL_PORT
        sync: false
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASS
        sync: false
    healthCheckPath: /api-docs
    disk:
      name: uploads
      mountPath: /opt/render/project/src/uploads
      sizeGB: 10
    autoDeploy: false